@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Exámen Programación III</h1>
        <p class="lead">Usos: Entity Framework y MVC </p>
    </section>

    <div class="row">
        <div class="col-12">
            <img src="https://i.ytimg.com/vi/Eck0HxQAjHo/maxresdefault.jpg" alt="Alternate Text" />
        </div>
    </div>
</main>